.header-containter {

	.control-center {
		.user-profile {
			width: 36px;
			height: 36px;
			border-radius: 200px;
			background: @app-primary-color;
			opacity: 0.4;
			transition: opacity @transition-defaults;
			color: @app-primary-background;
			font-family: @app-font;
			font-size: 20px;
			line-height: 36px;
			cursor: pointer;

			&:hover {
				opacity: 0.6;
			}

			.initials {
				margin: 0 auto;
			}
		}
	}
}
